<template>
  <div class="IndexPage">
    <br />
    <div class="row">
      <div class="col-md-9">
        <div class="row gx-4 gy-4 row-cols-3">
          <div class="col" v-for="product in list_products" :key="product.id">
            <div class="p-3 border bg-light">
              <h5>{{ product.name }}</h5>
              <p>{{ product.price }} €</p>
              <button type="button" class="btn btn-success btn-sm" @click="add_to_cart(product.id)">
                Ajouter au panier
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="col">
          <div class="p-3 border bg-success">
            <h5>Cart</h5>
          </div>
        </div>
        <div class="row gx-4 row-cols-1">
          <div class="col" v-for="(value, id) in list_cart" :key="id">
            <div class="p-3 border bg-light">
              <h5>{{ getProductName(id) }}</h5>
              <div class="d-flex align-items-center">
                <button type="button" class="btn btn-outline-secondary btn-sm me-2" @click="decrease_quantity(id)">
                  -
                </button>
                <h6 class="m-0">{{ value }}</h6>
                <button type="button" class="btn btn-outline-secondary btn-sm ms-2" @click="increase_quantity(id)">
                  +
                </button>
              </div>
              <button type="button" class="btn btn-danger btn-sm mt-2" @click="remove_from_cart(id)">Supprimer</button>
            </div>
          </div>

          <div class="col">
            <div class="p-3 border bg-success">
              <h5>Total: {{ total_price }} €</h5>
              <h6>Nombre de produits: {{ nbr_product }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Stock, Cart } from "../manager";

export default {
  name: "IndexPage",
  data() {
    return {
      cart: new Cart(),
      stock: new Stock(),
      list_products: [],
      list_cart: {},
      total_price: 0,
      nbr_product: 0,
    };
  },
  async created() {
    console.log("Fetching products...");
    await this.stock.fetchProducts();
    this.list_products = this.stock.get_list_product();
    console.log("Fetching cart...");
    await this.cart.fetchCart();
    this.update_cart();
  },
  methods: {
    async add_to_cart(id) {
      console.log(`Adding to cart: ${id}`);
      await this.cart.addInCart(id);
      this.update_cart();
    },
    async increase_quantity(id) {
      console.log(`Increasing quantity for: ${id}`);
      await this.cart.addInCart(id);
      this.update_cart();
    },
    async decrease_quantity(id) {
      console.log(`Decreasing quantity for: ${id}`);
      await this.cart.removeFromCart(id);
      this.update_cart();
    },
    getProductName(id) {
      const product = this.stock.get_prod_by_id(id);
      return product ? product.name : "Produit inconnu";
    },
    update_cart() {
      console.log("Updating cart...");
      this.list_cart = this.cart.get_list_cart();
      this.update_total();
    },
    update_total() {
      console.log("Updating total...");
      this.total_price = this.cart.get_total_price(this.stock);
      this.nbr_product = this.cart.get_nbr_product();
    },
    async remove_from_cart(id) {
      console.log(`Removing from cart: ${id}`);
      await this.cart.removeFromCart(id, true);
      this.update_cart();
    },
  },
};
</script>

<style scoped></style>
